body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.6s;
}

body.light {
  background: linear-gradient(to bottom #87ceeb, #ffffff);
  color: black;
}

body.dark {
  background: linear-gradient(to bottom, #0b1320, #1c2541);
  color: whitesmoke;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 180px;
  font-family: "Ubuntu", sans-serif;
}

input[type="submit"] {
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  background: #0077b6;
  color: whitesmoke;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  transition: 0.3s;
}

input[type="submit"]:hover {
transform: scale(1.05);
}

.app {
  width: 450px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.85);
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;
}

body.dark .app {
  background: rgba(0, 0, 0, 0.55);
}

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #90e0ef;
}

body.dark h1 {
  color: #90e0ef;
}

h2 {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  color: #444;
}

body.dark h2 {
  color: #d9d9d9;
}

temp {
  font-size: 55px;
  font-weight: 600;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.08);
}

.theme-btn {
  background: #0077b6;
  color: whitesmoke;
}

.weather-btn {
  background: #2f6b4f;
  color: whitesmoke;
}

body.dark .theme-btn {
  background: #90e0ef;
  color: black;
}

body.dark .weather-btn {
background: #74c69d;
color: black;
}

.forecast {
  text-align: left;
  line-height: 2;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.03);
}

body.dark .forecast {
  background: rgba(255, 255, 255, 0.08);
}

footer {
  font-size: 13px;
  color: gray;
}

body.dark footer {
  color: #b7e4c7;
}

.sun {
  width: 90px;
  height: 90px;
  background: gold;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 90px;
  animation: spin 6s linear infinite;
  box-shadow: 0 0 35px rgba(255, 215, 0, 0.9);
  z-index: 1;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

body.dark .sun {
  display: none;
}

.moon {
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  right: 110px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
  z-index: 1;
  display: none;
}

body.dark .moon {
  display: block;
}

.stars {
  width:  3px;
  height: 3px;
  background: white;
  position: absolute;
  border-radius: 50%;
  animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
  0% {opacity: 0.2;}
  100% {opacity: 1;}
}

.cloud {
  width: 150px;
  height: 60px;
  background: white;
  border-radius: 50px;
  position: absolute;
  top: 140px;
  left: -250px;
  animation: moveCloud 18s linear infinite;
  opacity: 0.85;
  z-index: 2;
}

.cloud::before{
  content: "";
  width: 80px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: 20px;
}

.cloud::after {
  content: "";
  height: 90px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: 20px
}

.cloud2 {
  top: 230px;
  opacity: 0.65;
  animation-duration: 25s;
}

@keyframes moveCloud {
  0% {left: -250px;}
  100% {left: 110%;}
}

.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
  display: none;
}

.drop {
  width: 2px;
  height: 25px;
  background: rgba(0, 119, 182, 0.7);
  position: absolute;
  top: -30px;
  animation: fall 1.8s linear infinite;
}

@keyframes fall {
  0% {top: -30px; opacity: 1;}
  100% {top: 110%; opacity: 0;}
}

.snow {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
  display: none;
}

.flake {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  animation: snowFall 5s linear infinite;
  opacity: 0.8;
}

@keyframes snowFall {
  0% {top: -20px;}
  100% {top: 110%;}
}

.lightning {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.flash {
  animation: flash 0,45s;
}

@keyframes flash {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}